// Color Helpers classes Text and Background
.font-color-primary{
    color: var(--clr-primary);
}
.bg-color-primary{
    background-color: var(--clr-primary);
}
.font-color-secondary{
    color: var(--clr-secondary);
}
.bg-color-secondary{
    background-color: var(--clr-secondary);
}
.font-color-dark{
    color: var(--clr-dark);
}
.bg-color-dark{
    background-color: var(--clr-dark);
}
.font-color-light{
    color: var(--clr-light);
}
.bg-color-light{
    background-color: var(--clr-light);
}
.font-color-white{
    color: var(--clr-white);
}
.bg-color-white{
    background-color: var(--clr-white);
}

// Fonts and Headings
.text-default{
    font-family: var(--ff-default);
    color: var(--clr-dark);
    font-size: var(--fs-300);
    font-weight: var(--fw-400);
    letter-spacing: var(--letter-spacing-default);
}

.heading-1{
    font-family: var(--ff-default);
    color: inherit;
    font-size: var(--fs-xl);
    font-weight: var(--fw-500);
    letter-spacing: var(--letter-spacing-heading);
}
.heading-2{
    font-family: var(--ff-default);
    color: inherit;
    font-size: var(--fs-large);
    font-weight: var(--fw-400);
    letter-spacing: var(--letter-spacing-heading);
}
.heading-3{
    font-family: var(--ff-default);
    color: inherit;
    font-size: var(--fs-500);
    font-weight: var(--fw-300);
    letter-spacing: var(--letter-spacing-subheading);
}
.heading-title{
    padding-top: .75em;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-700);
    font-size: var(--fs-xl);
    color: var(--clr-primary);
    letter-spacing: var(--letter-spacing-heading);
    text-shadow: 2px 2px 4px rgba(0,0,0, .5);
}
.nav-text{
    font-family: var(--ff-default);
    color: inherit;
    font-size: var(--fs-500);
    font-weight: var(--fw-300);
    letter-spacing: var(--letter-spacing-default);
    text-transform: capitalize;
}

.body-title{
    font-family: var(--ff-default);
    color: var(--clr-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    letter-spacing: var(--letter-spacing-default);
    text-align: justify;
    text-shadow: 1px 1px 2px rgba(0,0,0, .45);
}

.bold-text{
    font-weight: var(--fw-700);
}
.thin-text{
    font-weight: var(--fw-100);
}
.font-size-fine{
    font-size: var(--fs-fine);
}
.font-size-small{
    font-size: var(--fs-small);
}
.font-size-large{
    font-size: var(--fs-large);
}
.font-size-xl{
    font-size: var(--fs-xl);
}
.font-size-jumbo{
    font-size: var(--fs-jumbo);
}